.navbar.navbar-default(role='navigation', ng-controller='NavCtrl')
  .container
    .navbar-header
      button.navbar-toggle(data-toggle='collapse', data-target='#bs-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/').fa.fa-leaf Sugar and Spice

    .collapse.navbar-collapse#bs-navbar-collapse
      ul.nav.navbar-nav.navbar-right(ng-hide='email')
        li: a(href='/#/').fa.fa-home &nbsp Home
        li: a(href='/#/register').fa.fa-pencil Register/Login
      ul.nav.navbar-nav.navbar-right(ng-show='email')
        li: a(href='/#/').fa.fa-home &nbsp Home
        li: a(href='/#/links').fa.fa-link &nbsp Links
        li: a(href='/#/recipes').fa.fa-cutlery. &nbsp Recipes
        li: a(href='/#/logout').fa.fa-sign-out &nbsp Logout
        li: a(href='/#/').fa.fa-user {{email}}

