h3 Search
  #yumRs
    .yumR(ng-repeat= 'yumR in yumRecipes')
      h3 {{yumR.recipeName}}
      img(ng-src='{{yumR.smallImageUrls[0]}}')
      h5 Course {{yumR.attributes.course[0]}}
      button(ng-click='getDirections(yumR.id)') Get Directions

