h3 Add Recipe
.row
  .col-xs-1
  .col-xs-7
    form.form(name='recipeForm', role='form', novalidate)
      .row
        .form-group
          label(for='name') Name
          input.form-control#name(name='name', type='text', ng-model='recipe.name', ng-minlength='3', required)
        .form-group
          label(for='course') Course
          select.form-control#course(name='course', ng-model='recipe.course', required)
            option(value='main') Main
            option(value='side') Side
            option(value='salad') Salad
            option(value='soups') Soups
            option(value='sauces') Sauces
            option(value='onePotMeal') One Pot Meal
            option(value='dessert') Dessert
            option(value='Drinks') Drinks
        .form-group
          label(for='foodGroup') Main Nutritional Group
          select.form-control#foodGroup(name='foodGroup', ng-model='recipe.foodGroup', required)
            option(value='vegetables') Vegetables
            option(value='meat') Meat
            option(value='protein') Protein
            option(value='carb') Carb
            option(value='fat') Fat
            option(value='fruit') Fruit
        .form-group
          label(for='cal') Calorie Content
          input.form-control#cal(name='cal', type='number', ng-model='recipe.cal', required)

        .form-group
          label(for='serves') Serving Size
          input.form-control#serves(name='serves', type='number', ng-model='recipe.serves', required)
        .form-group
          label(for='ingredients') Ingredients
          input.form-control#ingredients(name='ingredients', type='text', ng-model='recipe.ingredients', required)
        .form-group
          label(for='directions') Directions
          input.form-control#directions(name='directions', type='text-area', ng-model='recipe.directions', required)
        .form-group
          label(for='photo') Photo
          input.form-control#photo(name='photo', type='url', ng-model='recipe.photo')
      .row
        .col-xs-4
          .form-group
            label(for='hr') Prep Time(Hr)
            input.form-control#hr(name='hr', type='number', ng-model='recipe.hr', required)
        .col-xs-4
          .form-group
            label(for='min') (min)
            input.form-control#min(name='min', type='number', ng-model='recipe.min', required)
          .form-group
      button.btn.btn-success.pull-right(ng-show='recipeForm.$valid', ng-click='addRecipe()') Add Recipe
  .col-xs-4

