.row
  .col-xs-1
  .col-xs-4
    h3 Register
    form(role='form', novalidate, name='userForm')
      .form-group
        label(for='email') Email
        input.form-control#email(type='email', name='Newemail', ng-model='user.email', autofocus, required)
      .form-group
        label(for='password') Password
        input.form-control#password(type='password', name='Newpassword', ng-model='user.password', required, ng-minlength='3')
      button.btn.btn-primary(ng-show='userForm.$valid', ng-click='register()') Register
  .col-xs-2
  .col-xs-4
    h3 Login
    form(role='form', novalidate, name='logUserForm')
      .form-group
        label(for='email') Email
        input.form-control#email(type='email', name='email', ng-model='logUser.email', autofocus, required)
      .form-group
        label(for='password') Password
        input.form-control#password(type='password', name='password', ng-model='logUser.password', required, ng-minlength='3')
      button.btn.btn-primary(ng-show='logUserForm.$valid', ng-click='login()') Login
  .col-xs-1


