#home
  .row
    .col-xs-1
    .col-xs-10
      h3 Search
    .col-xs-1
  .row
    .col-xs-1
    .col-xs-11
      #recipe
        input#search(type='text', ng-model='name')
        button#search.btn.btn-success.fa.fa-search(ng-click='getRecipe()') Search Recipe
        div(ss-recipe, ng-repeat='name in names', name='{{name}}')
