#home
  .row
    .col-xs-1
    .col-xs-10
      #quote
        article.quote(data-ng-init='init()')
          h4 Quote of the Day:
          h3 {{quote.body}}
          p {{quote.author}}
    .col-xs-1
  .row
    .col-xs-1
    .col-xs-10
      #search
      h3 Explore Cooking Start Right here!
    .col-xs-1
  .row
    .col-xs-1
    .col-xs-11
      #recipe
        input#search(type='text', ng-model='name')
        button#search.btn.btn-success.fa.fa-search(ng-click='getRecipe()') Search Recipe
        div(ss-recipe, ng-repeat='name in names', name='{{name}}')
