.row
  .col-xs-1
  .col-xs-10
    h3 Recipes
    a(href='/#/newRecipe') Add Recipe
  .col-xs-1
.row
  .col-xs-1
  .col-xs-11
    #recipes
      .recipes(ng-repeat='r in recipes')
        h2: a(href='/#/recipe/{{r._id}}') {{r.name}}
        img(ng-src='{{r.photo}}')
        h3 Serving Size: {{r.serves}}
        h3 Course: {{r.course}}
        h3 Nutritional Group: {{r.foodGroup}}
        h3 Preparation Time {{r.hr}}hr:{{r.min}}min
